{% extends "base.html" %}{% load static %}


{% block content %}
    <div class='container-fluid home'>
        <div class='container-fluid mt-2 pb-5'>
            <div class='row handicapped-list  justify-content-center'>

                <div class='col-lg-8 title text-center'>
                    <p>لائحة الأشخاص في وضعية إعاقة</p>
                    <a href="{% url 'handicapped:add_handicapped' %}" class="mybtn bbtn">إضافة شخص جديد <i class="bi bi-plus-circle-fill"></i></a>
                    {% if deleted %}
                        <a href="{% url 'handicapped:handicapped_list' %}" class="btn mybtn rbtn">القائمة الرئيسية <i class="bi bi-view-list"></i></a>
                    {% else %}
                        <a href="{% url 'handicapped:handicapped_list' %}?deleted=True" class="btn mybtn rbtn">سلة المحذوفين <i class="bi bi-trash"></i></a>
                    {% endif %}
                </div>

                <div class='col-lg-8'>

                   <table class="table">
                        <thead class=''>
                            <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">الإسم الكامل</th>
                            <th scope="col" class="text-center">العنوان</th>
                            <th scope="col" class="text-center">رقم الهاتف</th>
                            <th scope="col" class="text-center">C.I.N</th>
                            <th scope="col" class="text-center">عرض كل المعلومات</th>
                            <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for handicapped in handicapped_list %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{% if handicapped.full_name %}{{handicapped.full_name}}{% endif %}</td>
                                        <td>{% if handicapped.address %}{{handicapped.address}}{% endif %}</td>
                                        <td class="text-center">{% if handicapped.phone_number %}{{handicapped.phone_number}}{% endif %}</td>
                                        <td class="text-center">{% if handicapped.cin %}{{handicapped.cin}}{% endif %}</td>
                                        <td class="text-center"><a href="{{handicapped.get_absolute_url}}" class="icon"><i class="bi bi-folder2-open G-icon"></i></a></td>
                                        <td>
                                            <a class="icon" href="{% url 'handicapped:update_handicapped' handicapped.id %}"><i class="bi bi-pencil-square G-icon"></i></a>
                                            {% if handicapped.is_deleted %}
                                                <a class="icon" href="{% url 'handicapped:delete_handicapped' handicapped.id %}"><i class="bi bi-bootstrap-reboot B-icon"></i></a>
                                            {% else %}
                                                <a class="icon" data-bs-toggle="modal" data-bs-target="#delete-{{handicapped.id}}"><i class="bi bi-trash-fill R-icon"></i></a>
                                            {% endif %}
                                        </td>
                                
                                    </tr>
                                    <!-- Modal For delete -->
                                    <div class="modal fade" id="delete-{{handicapped.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header justify-content-center">
                                                    <h5 class="">إرسال <span class="text-danger">'{{handicapped.full_name}}'</span> إلى سلة المحدفين</h5>
                                                </div>
                                                
                                                <form method=POST action="{% url 'handicapped:delete_handicapped' handicapped.id %}">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label for="deleteDescription" class="form-label">سبب الحذف</label>
                                                                <textarea name="delete_description" class="form-control" id="deleteDescription" rows="3"></textarea>
                                                            </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                                                        <button type="submit" class="btn btn-danger">حذف</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}