{% extends "base.html" %}{% load static %}


{% block content %}
    <div class='container '>
        <div class='row handicapped-list  justify-content-center mb-4'>
            <div class='col-lg-8 title text-center'>
                <p>المعينات التقنية والأجهزة التعويضية</p>
                
                <a href="" class="mybtn bbtn">إضافة طلب جديد <i class="bi bi-plus-circle-fill"></i></a>
            </div>
            <div class="col-6">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {% comment %} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {% endcomment %}
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class='row justify-content-center'>

            <div class='col-lg-8 projects'>

                <a class="" data-bs-toggle="collapse" href="#Collapse1" aria-expanded="false" aria-controls="Collapse1">
                    المعينات التقنية
                </a>
                <div class="col">
                    <div class="collapse multi-collapse show" id="Collapse1">
                        <div class="card card-body">
                            {% include 'devices/help_devices.html' with waiting_help_devices=waiting_help_devices has_help_devices=has_help_devices%}
                        </div>
                    </div>
                </div>

                <a class="" data-bs-toggle="collapse" href="#Collapse2" aria-expanded="false" aria-controls="Collapse2">
                    الأجهزة التعويضية
                </a>
                <div class="col">
                    <div class="collapse multi-collapse show" id="Collapse2">
                        <div class="card card-body">
                            {% include 'devices/replace_devices.html' with waiting_replace_devices=waiting_replace_devices has_replace_devices=has_replace_devices%}
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
<script>
    window.setTimeout(function() {
        if (document.querySelector(".alert")){
            removeFadeOut(document.querySelector(".alert"), 2000);
        }
    }, 4000);
</script>
{% endblock content %}