<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">الإسم الكامل</th>
      <th scope="col">الهاتف</th>
      <th scope="col">المدينة</th>
      <th scope="col">المستوى الدراسي</th>
      <th scope="col">المهمة</th>
      <th scope="col">الأجر الشهري</th>
      <th scope="col">الأجر السنوي</th>
      <th scope="col">تعدبل / حذف</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>

  </tbody>
</table>