<table class="table">
    <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">الإسم</th>
                <th scope="col">تاريخ الإزدياد</th>
                <th scope="col">نوع الإعاقة</th>
                <th scope="col">نوع برنامج الإستفادة</th>
                <th scope="col">الخدمات</th>
                <th scope="col" class="text-center">تعديل / حذف</th>
            </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{student.full_name}}</td>
                <td>{% if student.birthday %}{{student.birthday}}{% endif %}</td>
                <td>{% if student.handicap_Type %}{{student.handicap_Type}}{% endif %}</td>
                <td>
                    {% if student.A %}A, {% endif %}
                    {% if student.B %}B, {% endif %}
                    {% if student.C %}C{% endif %}
                </td>
                <td>
                    {% if student.ES %}E.S, {% endif %}
                    {% if student.FP %}F.P, {% endif %}
                    {% if student.Ortho %}Ortho, {% endif %}
                    {% if student.Psy %}Psy, {% endif %}
                    {% if student.keni %}kéni, {% endif %}
                    {% if student.Psycom %}Psycom, {% endif %}
                    {% if student.Ergo %}Ergo, {% endif %}
                    {% if student.Tronsport %}Tronsport{% endif %}
                </td>
                <td class="text-center">
                    <a data-bs-toggle="modal" data-bs-target="#update-association-hr{{hr.id}}" class="btn btn-info text-white fw-bold"><i class="bi bi-pencil-square"></i></a>
                    <a data-bs-toggle="modal" data-bs-target="#delete-association-hr{{hr.id}}" class="btn btn-danger text-white fw-bold"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>