{% extends "base.html" %}{% load static %}


{% block content %}
    <div class='container home'>
        <div class='container mt-5'>
            <div class='row justify-content-center'>
                <div class='col-lg-8'>

                    <div class="handicapped-form">
                        <div class='row justify-content-center'>
                            <h1 class="">التحليلات</h1>
                            <div class="info">
                                <p>هنا ستجد تحليل لكل المعلومات الخاصة بكل الأشخاص في وضعية إعاقة المسجلين في المركز.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="line text-center">لائحة الأشخاص في وضعية إعاقة</div>
                <div class='col-12 search-folder text-right'>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-8">
                            <canvas id="genre" width="300" height="300"></canvas>
                        </div>
                        <div class="col-lg-6 col-8">
                            <canvas id="age" width="155" height="70"></canvas>
                        </div>
                        <div class="col-lg-8 col-8">
                            <canvas id="types" width="155" height="70"></canvas>
                        </div>
                    </div>

                    <div class="line text-center">الطرد الغدائي و بطاقات الأشخاص في وضعية إعاقة</div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-8">
                            <canvas id="cards" width="300" height="300"></canvas>
                        </div>
                        <div class="col-lg-4 col-8">
                            <canvas id="food" width="300" height="300"></canvas>
                        </div>
                    </div>

                    <div class="line text-center">المعينات التقنية والأجهزة التعويضية</div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-8">
                            <canvas id="help-device" width="300" height="300"></canvas>
                        </div>
                        <div class="col-lg-4 col-8">
                            <canvas id="replace-device" width="300" height="300"></canvas>
                        </div>
                    </div>

                    <div class="line text-center">برنامج دعم المشاريع و الأنشطة المدرة للدخل</div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-8">
                            <canvas id="projects" width="155" height="70"></canvas>
                        </div>
                    </div>

                    <script src="{% static 'chartjs/chart.min.js' %}"></script>
                    <script src="{% static 'chartjs/myChart.js' %}"></script>
                </div>
            </div>
        </div>
    </div>


  <script>
        displayGenre({{men}}, {{womans}});
        displayAges({{child}}, {{young}}, {{old}});
        displayTypes(
            {{handicap_Types.move}},
            {{handicap_Types.ear}},
            {{handicap_Types.eye}},
            {{handicap_Types.autism}},
            {{handicap_Types.late}},
            {{handicap_Types.trisomy}}
        );
        displayCards({{has_card}}, {{waiting_card}});
        displayFood({{has_food}}, {{waiting_food}});
        displayDevice("help-device", {{has_help_devices}}, {{waiting_help_devices}}, 'المستفيدين من المعينات التقنية');
        displayDevice("replace-device", {{has_replace_devices}}, {{waiting_replace_devices}}, 'المستفيدين من الأجهزة التعويضية');
        displayProjects({{local_projects}}, {{regional_projects}}, {{central_projects}}, {{finish_projects}})
</script>
{% endblock content %}