{% extends "base.html" %}{% load static %}


{% block content %}
    <div class='container home home-center'>
        {% if request.user.is_authenticated %}
            <div class='container'>
                <div class='row justify-content-center'>
                    <div class='col-lg-5 item'>
                        <a href="#">
                            <p>صندوق دعم التماسك الاجتماعي</p>
                        </a>
                    </div>
                    <div class='col-lg-5 item'>
                        <a href="{% url 'handicapped:handicapped_list' %}">
                            <p>لائحة الأشخاص في وضعية إعاقة</p>
                        </a>
                    </div>
                    <div class='col-lg-5 item'>
                        <a href="{% url 'cards:cards' %}">
                            <p>إدارة بطاقات الأشخاص في وضعية إعاقة</p>
                        </a>
                    </div>
                    <div class='col-lg-5 item'>
                        <a href="{% url 'food:food_list' %}">
                            <p>الطرد الغدائي</p>
                        </a>
                    </div>
                    <div class='col-lg-3 item'>
                        <a href="{% url 'analytics' %}">
                            <p>التحليلات</p>
                        </a>
                    </div>
                    <div class='col-lg-3 item'>
                        <a href="{% url 'search' %}">
                            <p>البحث</p>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            {% include "login.html" %}
        {% endif %}
    </div>
{% endblock content %}