{% extends "base.html" %}{% load static %}


{% block content %}
    <div class='container home'>
        <div class='container mt-5'>
            <div class='row justify-content-center'>
                <div class='col-lg-8'>

                    <div class="handicapped-form">
                        <div class='row justify-content-center'>
                            <h1 class="">محرك البحت</h1>
                            <div class="info">
                                <p>ملاحضة: قبل إضافة المستفيد يجب أن يكون الشخص مسجل في لائحة الأشخاص في وضعية إعاقة <a href="{% url 'handicapped:add_handicapped' %}">شخص جديد</a></p>
                            </div>
                            <div class="form-group pb-3">
                                <label>المستفيد <span class="text-danger">*</span></label><br>
                                <small class="text-muted">أدخل إسم، رقم الهاتف أو رقم البطاقة الوطنية</small>
                                <input id="search-input" name='search-input' type="text" class="form-control mt-2" required>
                            </div>

                        </div>

                        <div class='col-12'>
                            <table class="table">
                                <thead class=''>
                                    <tr>
                                    <th scope="col" class="text-center">عرض المعلومات</th>
                                    <th scope="col" class="text-right">نوع الإعاقة</th>
                                    <th scope="col" class="text-right">تاريخ الإزدياد</th>
                                    <th scope="col" class="text-right">رقم الهاتف</th>
                                    <th scope="col" class="text-right">C.I.N</th>
                                    <th scope="col" class="text-right">صاحب الطلب</th>
                                    </tr>
                                </thead>
                                <tbody id="search-result">
                                </tbody>
                            </table>
                        </div>

                        {% comment %} <div class="pb-2">
                            <a href="{% url 'food:food_list' %}" class="mybtn rbtn">إلغاء <i class="bi bi-x-circle"></i></a>
                            <button class="mybtn gbtn" id="save-btn" style="border:none;height: 42px">حفظ <i class="bi bi-bookmark-check"></i></button>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
function stringCheck(string) {
    if (string == null) {
        return '-----';
    } else {
        return string;
    }
}
/*
const saveBtn = document.getElementById('save-btn');
saveBtn.addEventListener("click", () => {
    radios = document.getElementsByClassName('form-check-input');
    Array.prototype.forEach.call(radios, function(el) {
        // Do stuff here
        if (el.checked) {
            const formData = new FormData();
            formData.append('id', el.id);

            fetch('/food/add/', {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            body: formData

            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = '../';
                } else {
                    alert(data.message);
                }
            })
            
        }
    });

})
*/

const searchResult = document.getElementById('search-result');
const searchInput = document.getElementById('search-input');
searchInput.addEventListener('input', (e) => {
    e.preventDefault()
    search = searchInput.value;
    if (search != "") {
        fetch('/search/?search='+search)
        .then(response => response.json())
        .then(data => {
            searchResult.innerHTML = ``;
            data.forEach(item => {
                searchResult.innerHTML += `
                    <tr>
                        <td class="text-center"><a href="/search/${item.pk}" class="icon"><i class="bi bi-folder2-open G-icon"></i></a></td>
                        <td class="text-right">${stringCheck(item.fields.handicap_Type)}</td>
                        <td class="text-right">${stringCheck(item.fields.birthday)}</td>
                        <td class="text-right">${stringCheck(item.fields.phone_number)}</td>
                        <td class="text-right">${stringCheck(item.fields.cin)}</td>
                        <td class="text-right">${stringCheck(item.fields.full_name)}</td>
                        <th scope="row"></td>
                        </th>
                    </tr>
                `
            });
        });
    } else {
        searchResult.innerHTML = '';
    }
})
</script>
{% endblock content %}