{% extends "base.html" %}{% load static %}


{% block content %}
    <div class='container home'>
        <div class='container mt-5'>
            <div class='row justify-content-center'>
                <div class='col-lg-8'>

                    <div class="handicapped-form">
                        <div class='row justify-content-center'>
                            <h1 class="">محرك البحت</h1>
                            <div class="info">
                                <p>هنا يمكنك البحت عن كل المعلومات الخاصة بكل الأشخاص في وضعية إعاقة المسجلين في المركز. <a href="{% url 'handicapped:add_handicapped' %}">شخص جديد</a></p>
                            </div>
                            <div class="form-group pb-3">
                                <label>البحت <span class="text-danger">*</span></label><br>
                                <small class="text-muted">أدخل إسم، رقم الهاتف أو رقم البطاقة الوطنية</small>
                                <input id="search-input" name='search-input' type="text" class="form-control mt-2" required>
                            </div>

                        </div>

                        <div class='col-12'>
                            <table class="table">
                                <thead class=''>
                                    <tr>
                                    <th scope="col" class="text-right">صاحب الطلب</th>
                                    <th scope="col" class="text-right">C.I.N</th>
                                    <th scope="col" class="text-right">رقم الهاتف</th>
                                    <th scope="col" class="text-right">تاريخ الإزدياد</th>
                                    <th scope="col" class="text-right">نوع الإعاقة</th>
                                    <th scope="col" class="text-center">عرض المعلومات</th>
                                    </tr>
                                </thead>
                                <tbody id="search-result">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>

function openLink(id) {
    window.location.href = `/search/${id}/`;
}

function stringCheck(string) {
    if (string == null) {
        return '-----';
    } else {
        return string;
    }
}

const searchResult = document.getElementById('search-result');
const searchInput = document.getElementById('search-input');
searchInput.addEventListener('input', (e) => {
    e.preventDefault()
    search = searchInput.value;
    if (search != "") {
        fetch('/search/?search='+search)
        .then(response => response.json())
        .then(data => {
            searchResult.innerHTML = ``;
            data.forEach(item => {
                searchResult.innerHTML += `
                    <tr class="search-item" onclick="openLink(${item.pk})">
                        
                        <td class="text-right">${stringCheck(item.fields.full_name)}</td>
                        <td class="text-right">${stringCheck(item.fields.cin)}</td>
                        <td class="text-right">${stringCheck(item.fields.phone_number)}</td>
                        <td class="text-right">${stringCheck(item.fields.birthday)}</td>
                        <td class="text-right">${stringCheck(item.fields.handicap_Type)}</td>
                        <td class="text-center"><a href="/search/${item.pk}" class="icon"><i class="bi bi-folder2-open G-icon"></i></a></td>
                    </tr>
                `
            });
        });
    } else {
        searchResult.innerHTML = '';
    }
})
</script>
{% endblock content %}