{% extends "base.html" %}{% load static %}


{% block content %}
    <div class='container '>
        <div class='row handicapped-list  justify-content-center mb-4'>
            <div class='col-lg-8 title text-center'>
                <p>{{ass.name}}</p>
                <a data-bs-toggle="modal" data-bs-target="#add-association"   class="mybtn rbtn">حدف الجمعية <i class="bi bi-trash-fill"></i></a>
                <!-- Add new association -->
                <div class="modal fade" id="add-association" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <h5 class="fw-normal">حدف الجمعية</h5>
                            </div>
                            <form method='POST' action="{% url 'box:delete_association' ass.id %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    سيتم حدف الجمعية وكل ما يتعلق بها نهائيا
                                </div>
                                <div class="modal-footer">
                                    <button  class="mybtn gbtn" data-bs-dismiss="modal">إلغاء</button>
                                    <button type="submit" class="mybtn rbtn" >حدف</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class='col-lg-10'>
                <div class="ass-title" data-bs-toggle="collapse" href="#Collapse1" aria-expanded="false" aria-controls="Collapse1">
                    بطاقة المعلومات حول الجمعية
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="Collapse1">
                        <div class="card card-body">
                            {% include 'association/info.html'%}
                        </div>
                    </div>
                </div>
            </div>
            <!--##############################################################################-->
            <div class='col-lg-10'>
                <div class="ass-title" data-bs-toggle="collapse" href="#CollapseHR" aria-expanded="false" aria-controls="Collapse1">    
                    لائحة الموارد البشرية
                </div>
                
                <div class="col">
                    <div class="collapse multi-collapse show" id="CollapseHR">
                        <div class="card card-body">
                            {% include 'association/hr.html'%}
                            <div class="row justify-content-center mt-4 ">
                                <div class="col-5 text-center">
                                    <a onclick="window.print()" class="btn btn-info text-white fw-bold"><i class="bi bi-person-plus-fill"></i> إضافة شخص جديد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    window.setTimeout(function() {
        if (document.querySelector(".alert")){
            removeFadeOut(document.querySelector(".alert"), 2000);
        }
    }, 4000);
</script>
{% endblock content %}